<div id="add-graph-form" class="mask-overlay">
    <h4 class="form-title">Add Graphs</h4>
    <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
    <form action="/fusion/add" method="post">
        <div class="form-group">
            <select name="graphs_added[]" id="graphs_added" class="form-control" multiple>
                <% for (var j=0; j<userGraphs.length; j++) { %>
                    <% if (includedGraphs.indexOf(userGraphs[j].id) == -1) { %> 
                        <option value="<%= userGraphs[j].id %>"><%= userGraphs[j].name %></option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <input name="fusion_id" type="text" value="<%= fusion.id %>" hidden required>
        <button class="btn btn-default" type="submit">Add</button>
    </form>
</div>

<div id="invite-friend-form" class="mask-overlay">
    <h4 class="form-title">Invite Friends</h4>
    <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
    <form action="/fusion/invite" method="post">
        <div class="form-group">
            <select name="invitees[]" id="invitees" class="form-control" multiple>
                <% for (var i=0; i<user.friends.accepted.length; i++) { %>
                    <% if (includedPeople.indexOf(user.friends.accepted[i].user_b) == -1) { %> 
                        <option value="<%= user.friends.accepted[i].user_b %>">
                            <%= user.friends.accepted[i].user_b %>
                        </option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <input name="fusion_id" type="text" value="<%= fusion.id %>" hidden required>
        <button class="btn btn-default" type="submit">Add</button>
    </form>
</div>

<div id="leave-fusion-form" class="mask-overlay">
    <h4 class="form-title">Leave Fusion</h4>
    <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
    <form action="/fusion/leave" method="post">
        <div>
            All the graphs you have added to the fusion will also be removed* from the fusion.
            <br>
            *your graphs are not deleted 
        </div>
        <input name="fusion_id" type="text" value="<%= fusion.id %>" hidden required>
        <input name="fusion_name" type="text" value="<%= fusion.name %>" hidden required>
        <button class="btn btn-default" type="submit">Leave</button>
    </form>
</div>