<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include ../partials/header %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>
    <script>
        var fusion = <%- JSON.stringify(fusion) %>;
        var userGraphs = <%- JSON.stringify(userGraphs) %>;
        var user = <%- JSON.stringify(user) %>;
        console.log(user);
        console.log(fusion);
        <% var includedGraphs = fusion.graphs.map(function(g) { return g.id; }); %>
        var ds = new FusionDataset(fusion);
    </script>
    <body>
        <%- include ../partials/nav %>
        <div class="mask"></div>
        <div class="container container-fluid main">
            <div class="row"> <!-- PLOT HEADER ROW -->
                <div class="col-md-12 plot-header">
                    <div class="name"><%= fusion.name %></div>
                    <div class="buttons">
                        <div class="action">
                            <button id="add-fusion-graph">
                                <span class="glyphicon glyphicon-plus"></span><span class="glyph-text"> Graph</span><span class="glyphicon glyphicon-stats glyph-text-replacement">
                            </button>
                        </div>
                        <div class="action">
                            <button id="invite-fusion">
                                <span class="glyphicon glyphicon-plus"></span><span class="glyph-text"> Invite friend</span><span class="glyphicon glyphicon-user glyph-text-replacement"></span>
                            </button>
                        </div>
                        <div class="action">
                            <button id="leave-fusion">
                                <span class="glyphicon glyphicon-remove"></span><span> Leave</span>
                            </button>
                        </div>
                    </div>
                    <% if (message) { %>
                        <h4><%= message %></h4>
                    <% } %> 
                </div>
            </div> <!-- END PLOT HEADER ROW -->
            <div class="row"> <!-- GRAPH CONTAINER ROW -->
                <div id="graph-time-options" class="col-md-12 options-group">
                    <button class="btn btn-graph-time">Year</button><button class="btn btn-graph-time active">Month</button><button class="btn btn-graph-time">Week</button>
                </div>
                <div class="date">
                    <button id="backward" class="btn btn-default">&lt;</button>
                    <h3 id="date">Sunday duh</h3>
                    <button id="forward" class="btn btn-default">&gt;</button>
                </div>
                <div class="col-md-9">
                    <div id="graph-container"></div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <h4 id="tooltip-title" class="expandable-title" data-expand-for="#tooltip">Selected point: <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></h4>
                        <div id="tooltip" class="expandable" data-expand-by="tooltip-title" class="col-sm-12">
                            None
                        </div>
                    </div>
                    <div class="row">
                        <h4 id="included-graphs-title" class="expandable-title" data-expand-for=".included-graphs">Graphs <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></h4>
                        <div class="included-graphs expandable">
                            <% for (var i=0; i<fusion.graphs.length; i++) { %>
                                <div class="included-graph description-action">    
                                    <% if (fusion.graphs[i].owner == user.email) { %>
                                        <form action="/fusion/removeGraph" method="post" class="description-action">
                                            <div class="action"><button><span class="glyphicon glyphicon-remove"></span></button></div>
                                            <div class="description"><%= fusion.graphs[i].owner %> / <%= fusion.graphs[i].name %></div>
                                            <input type="text" name="fusion_id" value="<%= fusion.id %>" required hidden>
                                            <input type="text" name="graph_id" value="<%= fusion.graphs[i].id %>" required hidden>
                                            <input type="text" name="graph_name" value="<%= fusion.graphs[i].name %>" required hidden>
                                        </form>
                                    <% } else { %>
                                        <div class="action empty"></div>
                                        <div class="description"><%= fusion.graphs[i].owner %> / <%= fusion.graphs[i].name %></div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div> <!-- END GRAPH CONTAINER ROW -->
        </div> <!-- end container-fluid -->
        <%- include forms %>
    </body>

    <script>
        var current = moment();
        setDate(current, "month");

        const g = new scatterPlot("graph-container", 
            ds.getPoints("month", moment(current)), 
            ds.getOptions("month", moment(current))
        );

        $('#graphs_added').chosen({
                width: '100%',
                placeholder_text_multiple: 'Select your graphs',
                search_contains: true,
        });

        $('#invitees').chosen({
            width: '100%',
            placeholder_text_multiple: 'Select friends to invite',
            search_contains: true,
        });

        // var socket = io();

    </script>

    <script>
        $(document).ready(function() {
            $(window).resize(function() {
                g.update();
            });

            // $('.plot-row').matchHeight({ target: $('#graph-container') });

            $('.expandable-title').on('click', function() {
                $(this).toggleClass('active');
                $($(this).data('expandFor')).toggleClass('active');
            });

            /*
                On click event for changing time modes
            */
            $('.btn-graph-time').on('click', function() {
                $('.btn-graph-time').removeClass('active');
                $(this).addClass('active');
                var mode = $(this).html().toLowerCase();

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            }); 

            /*
                On click event for changing time
            */
            $('.date button').on('click', function() {
                var mode = $(".btn-graph-time.active").html().toLowerCase();
                var direction = $(this).attr("id");
                current = updateTime(moment(current), mode, direction);

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            });

            /*
                On click event for adding a new graph to the fusion
            */
            $('#add-fusion-graph').on('click', function() {
                $('.mask').addClass('active');
                $('#add-graph-form').addClass('active');
            });

            /*
                http://stackoverflow.com/questions/10318575/jquery-search-as-you-type-with-ajax
            */
            // var timeoutID = null;

            // function getGraphsBeginsWith(begin) {
            //     $.ajax({
            //         url: window.location.origin + '/graph/search/' + 'be',
            //         dataType: 'json',
            //         success: function(data) {
            //             console.log(data);
            //         },
            //     });
            // }

            // $('#graphs_added').keyup(function(e) {
            //     clearTimeout(timeoutID);
            //     console.log(e);
            //     timeoutID = setTimeout(getGraphsBeginsWith.bind(undefined, e.target.value), 500);
            // });

            /*
                On click event for inviting friend to the fusion
            */
            $('#invite-fusion').on('click', function() {
                $('.mask').addClass('active');
                $('#invite-friend-form').addClass('active');
            });

            $('#leave-fusion').on('click', function() {
                $('.mask').addClass('active');
                $('#leave-fusion-form').addClass('active');
            });

            $('.mask, .remove-mask-overlay').on('click', function() {
                $('.mask, .mask-overlay').removeClass('active');
            });
        });

        /*
            TODO: Disable scrolling!
            http://stackoverflow.com/questions/3656592/how-to-programmatically-disable-page-scrolling-with-jquery
        */
    </script>

</html>  