<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include('partials/header.ejs') %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>

    <script>
        // var plots = <%- JSON.stringify(plots) %>;
    </script>

    <body>
        <%- include('partials/nav.ejs') %>

        <div class="container container-fluid">
            <div class="row">
                <h2>Welcome, <%= user.email %></h2>
            </div>
            <div class="row">
                <h3>Graphs</h3>
                <% for (var i=0; i<plots.graphs.length; i++) { %>
                    <a href="/graph/<%= plots.graphs[i].id %>"><button class="btn btn-default"><%= plots.graphs[i].name %></button></a>
                <% } %>
            </div>

            <div class="row">
                <h3>Fusions</h3>
                <% for (var i=0; i<plots.fusions.length; i++) { %>
                    <a href="/fusion/<%= plots.fusions[i].id %>"><button class="btn btn-default"><%= plots.fusions[i].name %></button></a>
                <% } %>
            </div>
        </div>
    </body>
</html>  