<nav class="<% if (typeof landing === 'undefined') { %>active<% } %>">
    <div class="nav-container">
        <div class="nav-header">
            <div class="nav-brand"><a class="brand" href="/">VISUALYZE</a></div>
        </div><!--
        --><div class="nav-menu">
            <ul class="">
                <% if (typeof user !== 'undefined') { %>
                    <li>
                        <form action="/friends/request" method="post">
                            <div class="input-btn-group">
                                <input type="text" id="requested" name="requested" placeholder="Friend's email">
                                <button>Add</button>
                            </div>
                            <input type="text" name="requester" value="<%= user.email %>" hidden>
                        </form>
                    </li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li class="nav-dropdown">
                        <a href="#">Requests (<%= user.friends.invites.length + user.fusion_requests.invites.length %>)</a>
                        <div id="request-dropdown" class="dropdown">
                            <ul>
                                <% if ((user.friends.invites.length + user.fusion_requests.invites.length) == 0) { %>
                                    <li>No requests.</li>
                                <% } else { %>
                                    <% for (var i=0; i<user.fusion_requests.invites.length; i++) { %>
                                        <li><form class="request-form" action="/fusion/accept" method="post">
                                            <!--<div class="request-form-content">-->
                                                <div class="description">
                                                    <span><%= user.fusion_requests.invites[i].requester %></span>
                                                    invited you join
                                                    <span><%= user.fusion_requests.invites[i].name %></span>
                                                </div>
                                                <input type="text" name="fusion_id" value="<%= user.fusion_requests.invites[i].fusion_id %>" hidden>
                                                <button class="action">Accept</button>
                                            <!--</div>-->
                                        </form></li>
                                    <% } %>

                                    <% for (var i=0; i<user.friends.invites.length; i++) { %>
                                        <li><form class="request-form" action="/friends/accept" method="post">
                                            <!--<div class="request-form-content">-->
                                                <div class="description">
                                                    <span><%= user.friends.invites[i].requester %></span>
                                                    wants to add you as a friend
                                                </div>
                                                <input type="text" name="requester" value="<%= user.friends.invites[i].requester %>" hidden>
                                                <button class="action">Accept</button>
                                            <!--</div>-->
                                        </form></li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-dropdown">
                        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                        <div class="dropdown">
                            <ul>
                                <li><a href="#"><%= user.email %></a></li>
                                <li><a href="/friends">Friends</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </div>
                    </li>
                    <span class="nav-divider">/</span>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li class="btn-login"><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<script>

    $(document).ready(function() {
        $('.nav-dropdown > a').on('click', function() {
            var self = $(this);
            self.parent().toggleClass('active');
            self.siblings('.dropdown').toggleClass('active');

            $('.nav-dropdown').not(self.parent()).removeClass('active');
            $('.dropdown').not(self.siblings('.dropdown')).removeClass('active');
        });
    });

    var socket = io();

    socket.on('connection', function(msg) {
        console.log(msg);
    });
    socket.on('fusion request', function(msg) {
        console.log(msg);
        socket.emit('fusion request', 'from client');
    });
    socket.on('notify', function(msg) {
        console.log(msg);
    });
</script>