<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include ../partials/header %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>
    <script>
        var graph = <%- JSON.stringify(graph) %>
        var ds = new GraphDataset(graph);
    </script>
    <body>
        <%- include ../partials/nav %>
        
        <div class="container container-fluid main">
            <div class="mask"></div>
            <div class="row"> <!-- PLOT HEADER ROW -->
                <div class="col-md-12 plot-header">
                    <div class="name">
                        <%= graph.name %>
                    </div>
                    <div class="buttons">
                        <div class="action">
                            <button id="btn-add-point">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span> Point</span>
                            </button>
                        </div>
                        <div class="action">
                            <button id="btn-delete-graph">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span> Delete</span>
                            </button>
                        </div>
                    </div>   
                    <% if (message) { %>
                        <h4><%= message %></h4>
                    <% } %> 
                </div>
            </div> <!-- END PLOT HEADER ROW -->
            <div class="row"> <!-- GRAPH CONTAINER ROW -->
                <div id="graph-time-options" class="col-md-12 options-group">
                    <button class="btn btn-graph-time">Year</button><button class="btn btn-graph-time active">Month</button><button class="btn btn-graph-time">Week</button>
                </div>
                <div class="date">
                    <button id="backward" class="btn btn-default">&lt;</button>
                    <h3 id="date">Sunday duh</h3>
                    <button id="forward" class="btn btn-default">&gt;</button>
                </div>
                <div class="col-sm-offset-1 col-sm-8 plot-row">
                    <div id="graph-container"></div>
                </div>
                <div class="col-sm-2 plot-row">
                    <div class="row graph-details">
                        <h4>Selected point:</h4>
                        <div id="tooltip" class="col-sm-10">
                        </div>
                        <div id="remove-point" class="col-sm-2"></div>
                    </div>
                </div>
            </div> <!-- END GRAPH CONTAINER ROW -->
        </div> <!-- end container-fluid -->
        <%- include forms %>
    </body>

    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: "MMMM D, YYYY"
        });
        picker.setMoment(moment());

        var current = moment();
        setDate(current, "month");

        const g = new scatterPlot("graph-container", 
            ds.getPoints("month", moment(current)), 
            ds.getOptions("month", moment(current))
        );
    </script>

    <script>
        $(document).ready(function() {
            $(window).resize(function() {
                g.update();
            });

            // $('.plot-row').matchHeight({ target: $('#graph-container') });

            /*
                On click event for changing time modes
            */
            $('.btn-graph-time').on('click', function() {
                $('.btn-graph-time').removeClass('active');
                $(this).addClass('active');
                var mode = $(this).html().toLowerCase();

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            }); 

            /*
                On click event for changing time
            */
            $('.date button').on('click', function() {
                var mode = $(".btn-graph-time.active").html().toLowerCase();
                var direction = $(this).attr("id");
                current = updateTime(moment(current), mode, direction);

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            });

            $('#btn-add-point').on('click', function() {
                $('.mask').addClass('active');
                $('#add-point-form').addClass('active');
            });

            $('#btn-delete-graph').on('click', function() {
                $('.mask').addClass('active');
                $('#delete-graph-form').addClass('active');
            });

            $('.graph-details').on('click', '.btn-remove-point', function() {
                $('.mask').addClass('active');
                $('#remove-point-form').addClass('active');
            });

            $('.mask, .remove-mask-overlay').on('click', function() {
                $('.mask, .mask-overlay').removeClass('active');
            });
        });
    </script>
</html>  