<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include ../partials/header %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>
    <script>
        var graph = <%- JSON.stringify(graph) %>
        console.log(graph);
        var ds = new GraphDataset(graph);
    </script>
    <body>
        <%- include ../partials/nav %>
        <div class="mask"></div>
        <div class="container"> <!-- CONTAINER FLUID --> 
            <div class="main"> <!-- MAIN -->
                <div class="row"> <!-- PLOT HEADER ROW -->
                    <div class="col-md-12 plot-header">
                        <div class="name">
                            <%= graph.name %>
                        </div>
                        <div class="buttons">
                            <div class="action">
                                <button id="btn-add-point">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span> Point</span>
                                </button>
                            </div>
                            <div class="action">
                                <button id="btn-delete-graph">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span> Delete</span>
                                </button>
                            </div>
                            <div class="action">
                                <input type="text" id="colour-picker">
                            </div>
                        </div>   
                        <% if (message) { %>
                            <h4 id="msg"><%= message %></h4>
                        <% } %> 
                    </div>
                </div> <!-- END PLOT HEADER ROW -->
                <div class="row"> <!-- GRAPH CONTAINER ROW -->
                    <div id="graph-time-options" class="col-md-12 options-group">
                        <button class="btn btn-graph-time">Year</button><button class="btn btn-graph-time">Month</button><button class="btn btn-graph-time active">Week</button>
                    </div>
                    <div class="date">
                        <button id="backward" class="btn btn-default btn-date">&lt;</button>
                        <h3 id="date">Sunday duh</h3>
                        <button id="forward" class="btn btn-default btn-date">&gt;</button>
                    </div>
                    <div class="col-md-9">
                        <div id="graph-container"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="graph-sidebar">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 id="tooltip-title" class="expandable-title" data-expand-for="#tooltip">Selected point: <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></h4>
                                    <div id="tooltip" class="expandable" data-expand-by="tooltip-title">
                                        <div id="tooltip-text">No selected point.</div>
                                        <div id="remove-point">
                                            <div class="action">
                                                <button class="btn-remove-point">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- END GRAPH CONTAINER ROW -->
            </div> <!-- END MAIN -->
        </div> <!-- end container-fluid -->
        <%- include forms %>
    </body>

    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: "MMMM D, YYYY"
        });
        picker.setMoment(moment());

        var current = moment();
        setDate(current, "week");
        console.log($("#date").data("date"));
        
        const g = new scatterPlot("graph-container", 
            ds.getPoints("week", moment(current)), 
            ds.getOptions("week", moment(current))
        );
        const colourPicker = createColourUpdateHandler(g, ds, current);

        $("#colour-picker").spectrum({
            color: graph.colour,
            clickoutFiresChange: false,
            chooseText: "Update",
            replacerClassName: "colour-selector",
            change: colourPicker,
        });
    </script>

    <script>
        $(window).resize(function() {
            g.update();
        });

        $(document).ready(function() {
            /*
                On click event for changing time modes
            */
            $('.btn-graph-time').on('click', function() {
                $('.btn-graph-time').removeClass('active');
                $(this).addClass('active');
                var mode = $(this).html().toLowerCase();
                console.log(ds.getPoints(mode, moment(current)));
                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            }); 

            /*
                On click event for changing time
            */
            $('.date button').on('click', function() {
                var mode = $(".btn-graph-time.active").html().toLowerCase();
                var direction = $(this).attr("id");
                current = updateTime(moment(current), mode, direction);

                console.log(ds.getPoints("month", moment(current)));
                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            });

            $('#btn-add-point').on('click', function() {
                $('.mask').addClass('active');
                $('#add-point-form').addClass('active');
            });

            $('#btn-delete-graph').on('click', function() {
                $('.mask').addClass('active');
                $('#delete-graph-form').addClass('active');
            });

            $('#tooltip').on('click', '.btn-remove-point', function() {
                $('.mask').addClass('active');
                $('#remove-point-form').addClass('active');
            });

            $('.mask, .remove-mask-overlay').on('click', function() {
                $('.mask, .mask-overlay').removeClass('active');
            });
        });
    </script>
</html>  