<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include('partials/header.ejs') %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>

    <script>
        var user = <%- JSON.stringify(user) %>;
        console.log(user);
    </script>

    <body>
        <%- include('partials/nav.ejs') %>
        <div class="mask"></div>
        <div class="container container-fluid">
            <div class="row">
                <h2>Welcome, <%= user.email %></h2>
                <div class="col-sm-6">
                    <% if (message) { %>
                        <h4><%= message %></h4>
                    <% } %>
                    <h4></h4>
                    <form action="/friends/request" method="post">
                        <div class="form-group">
                            <label for="requested">Friend's email</label>
                            <input type="text" id="requested" name="requested" placeholder="email@domain.com">
                            <input type="text" name="requester" value="<%= user.email %>" hidden>
                        </div>
                        <button class="btn btn-default">Add</button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h5>Friends:</h5>
                    <% for (var i=0; i<user.friends.accepted.length; i++) { %>
                        <p><%= user.friends.accepted[i].user_b %></p>
                    <% } %>
                    <h5>Pending friend requests:</h5>
                    <% for (var i=0; i<user.friends.pending.length; i++) { %>
                        <p><%= user.friends.pending[i].requested %></p>
                    <% } %>
                    <h5>Friend requests:</h5>
                    <% for (var i=0; i<user.friends.requesting.length; i++) { %>
                        <form action="/friends/accept" method="post">
                            <div class="form-group">
                                <p><%= user.friends.requesting[i].requester %></p>
                                <input type="text" name="requester" value="<%= user.friends.requesting[i].requester %>" hidden>
                                <button>Accept</button>
                            </div>
                        </form>
                    <% } %>

                </div>
            </div>
            <div class="row">
                <div class="dashboard-title-container">
                    <h3>Graphs</h3>
                    <button id="new-graph" class="btn btn-default new-plot-btn"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <% for (var i=0; i<user.plots.graphs.length; i++) { %>
                    <a href="/graph/<%= user.plots.graphs[i].id %>"><button class="btn btn-default"><%= user.plots.graphs[i].name %></button></a>
                <% } %>
            </div>

            <div class="row">
                <div class="dashboard-title-container">
                    <h3>Fusions</h3>
                    <button id="new-fusion" class="btn btn-default new-plot-btn"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <% for (var i=0; i<user.plots.fusions.length; i++) { %>
                    <a href="/fusion/<%= user.plots.fusions[i].id %>"><button class="btn btn-default"><%= user.plots.fusions[i].name %></button></a>
                <% } %>
            </div>
        </div> <!-- end container-fluid -->

        <div id="new-plot-form" class="mask-overlay">
            <h4 id="plot-form-title"></h4>
            <form action="" method="post">
                <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                <input type="text" id="plot-name" name="name" placeholder="Name" required>
                <button class="btn btn-default" type="submit">Add</button>
            </form>
        </div>
    </body>

    <script>
        $(document).ready(function() {
            $('.new-plot-btn').on('click', function() {
                const type = $(this).attr('id').split('-')[1];
                // const capitalizedType = type.substring(0,1).toUpperCase() + type.substring(1, type.length);
                $('.mask').addClass('active');
                $('#new-plot-form').addClass('active');
                $('#new-plot-form form').attr('action', '/' + type + '/new');
                $('#plot-form-title').html('New ' + type);
                // $('#plot-name').attr('placeholder', 
                //     capitalizedType + ' Name');
            });

            $('.mask, .remove-mask-overlay').on('click', function() {
                $('.mask, .mask-overlay').removeClass('active');
            });
        });
    </script>
</html>  