<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include('partials/header.ejs') %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>
    <script>
        var graph = <%- JSON.stringify(graph) %>
        var ds = new GraphDataset(graph);
    </script>
    <body>
        <%- include('partials/nav.ejs') %>
        <div class="mask"></div>
        <div class="container container-fluid main">
            <div class="row">
                <div class="col-md-12 plot-header">
                    <div class="name">
                        <%= graph.name %>
                    </div>
                    <div class="action">
                        <button class="btn-add-point">Add Point</button>
                    </div>
                </div>
                <div id="graph-time-options" class="col-md-12 options-group">
                    <button class="btn btn-graph-time">Year</button><button class="btn btn-graph-time active">Month</button><button class="btn btn-graph-time">Week</button>
                </div>
                <div class="date">
                    <button id="backward" class="btn btn-default">&lt;</button>
                    <h3 id="date">Sunday duh</h3>
                    <button id="forward" class="btn btn-default">&gt;</button>
                </div>
                <div class="col-sm-offset-1 col-sm-8">
                    <div id="graph-container"></div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <h4>Selected point:</h4>
                        <div id="tooltip" class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container-fluid -->
        <div id="add-point-form" class="mask-overlay">
            <h4>Add points</h4>
            <form action="/graph/addPoint" method="post">
                <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                <input type="text" id="datepicker", name="date" required>
                <input type="number" id="value", name="value" placeholder="Value" required>
                <input type="string" id="id" name="id" value="<%= graph.id %>" hidden required>
                <button class="btn btn-default" type="submit">Add</button>
            </form>
        </div>
    </body>

    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: "MMMM D, YYYY"
        });
        picker.setMoment(moment());

        var current = moment();
        setDate(current, "month");

        var options = ds.getOptions("month", moment(current));
        options['cy'] = $(window).height() - $('#graph-container').offset().top;
        const g = new scatterPlot("graph-container", 
            ds.getPoints("month", moment(current)), 
            options
        );
    </script>

    <script>
        $(document).ready(function() {
            /*
                On click event for changing time modes
            */
            $('.btn-graph-time').on('click', function() {
                $('.btn-graph-time').removeClass('active');
                $(this).addClass('active');
                var mode = $(this).html().toLowerCase();

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            }); 

            /*
                On click event for changing time
            */
            $('.date button').on('click', function() {
                var mode = $(".btn-graph-time.active").html().toLowerCase();
                var direction = $(this).attr("id");
                current = updateTime(moment(current), mode, direction);

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            });

            $('.btn-add-point').on('click', function() {
                $('.mask').addClass('active');
                $('#add-point-form').addClass('active');
            });

            $('.mask, .remove-mask-overlay').on('click', function() {
                $('.mask, .mask-overlay').removeClass('active');
            });
        });
    </script>
</html>  