<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include('partials/header.ejs') %>
        <script src="/js/dataset.js"></script>
        <script src="/js/graph.js"></script>
    </head>
    <script>
        var graph = <%- JSON.stringify(graph) %>
        var ds = new GraphDataset(graph);
    </script>
    <body>
        <%- include('partials/nav.ejs') %>
        
        <div class="container container-fluid main">
            <div class="mask"></div>
            <div class="row">
                <div class="col-md-12 plot-header">
                    <div class="name">
                        <%= graph.name %>
                    </div>
                    <div class="buttons">
                        <div class="action">
                            <button id="btn-add-point">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span> Point</span>
                            </button>
                        </div>
                        <div class="action">
                            <button id="btn-delete-graph">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span> Delete</span>
                            </button>
                        </div>
                    </div>   
                    <% if (message) { %>
                        <h4><%= message %></h4>
                    <% } %> 
                </div>
                <div id="graph-time-options" class="col-md-12 options-group">
                    <button class="btn btn-graph-time">Year</button><button class="btn btn-graph-time active">Month</button><button class="btn btn-graph-time">Week</button>
                </div>
                <div class="date">
                    <button id="backward" class="btn btn-default">&lt;</button>
                    <h3 id="date">Sunday duh</h3>
                    <button id="forward" class="btn btn-default">&gt;</button>
                </div>
                <div class="col-sm-offset-1 col-sm-8">
                    <div id="graph-container"></div>
                </div>
                <div class="col-sm-2">
                    <div class="row graph-details">
                        <h4>Selected point:</h4>
                        <div id="tooltip" class="col-sm-10">
                        </div>
                        <div id="remove-point" class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end container-fluid -->
        <div id="add-point-form" class="mask-overlay">
            <h4>Add points</h4>
            <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            <form action="/graph/addPoint" method="post">
                <input type="text" id="datepicker", name="date" required>
                <input type="number" id="value", name="value" placeholder="Value" required>
                <input type="string" id="id" name="id" value="<%= graph.id %>" hidden required>
                <button class="btn btn-default" type="submit">Add</button>
            </form>
        </div>
        <div id="delete-graph-form" class="mask-overlay">
            <h4>Delete Graph Confirmation</h4>
            <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            <form action="/graph/delete" method="post">
                <input type="string" id="graph_name", name="graph_name" value="<%= graph.name %>" hidden required>
                <input type="string" id="graph_id" name="graph_id" value="<%= graph.id %>" hidden required>
                <div>
                    The graph will be removed from all fusions containing it and all the data pertaining to the graph will be deleted. This action cannot be undone.
                    </br>
                    Do you still want to delete the graph?
                </div>
                <button class="btn btn-default" type="submit">Delete Graph</button>
            </form>
        </div>
        <div id="remove-point-form" class="mask-overlay">
            <h4>Remove Point Confirmation</h4>
            <button class="remove-mask-overlay" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            <form action="/graph/remove_point" method="post">
                <input type="string" id="point_id", name="point_id" value="" hidden required>
                <input type="string" id="graph_id" name="graph_id" value="<%= graph.id %>" hidden required>
                <div>
                    Are you sure you want to remove this point?
                </div>
                <button class="btn btn-default" type="submit">Remove</button>
            </form>
        </div>
    </body>

    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: "MMMM D, YYYY"
        });
        picker.setMoment(moment());

        var current = moment();
        setDate(current, "month");

        const g = new scatterPlot("graph-container", 
            ds.getPoints("month", moment(current)), 
            ds.getOptions("month", moment(current))
        );
    </script>

    <script>
        $(document).ready(function() {
            $(window).resize(function() {
                g.update();
            });

            /*
                On click event for changing time modes
            */
            $('.btn-graph-time').on('click', function() {
                $('.btn-graph-time').removeClass('active');
                $(this).addClass('active');
                var mode = $(this).html().toLowerCase();

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            }); 

            /*
                On click event for changing time
            */
            $('.date button').on('click', function() {
                var mode = $(".btn-graph-time.active").html().toLowerCase();
                var direction = $(this).attr("id");
                current = updateTime(moment(current), mode, direction);

                setDate(current, mode);
                g.update(
                    ds.getPoints(mode, moment(current)),
                    ds.getOptions(mode, moment(current))
                );
            });

            $('#btn-add-point').on('click', function() {
                $('.mask').addClass('active');
                $('#add-point-form').addClass('active');
            });

            $('#btn-delete-graph').on('click', function() {
                $('.mask').addClass('active');
                $('#delete-graph-form').addClass('active');
            });

            $('.graph-details').on('click', '.btn-remove-point', function() {
                $('.mask').addClass('active');
                $('#remove-point-form').addClass('active');
            });

            $('.mask, .remove-mask-overlay').on('click', function() {
                $('.mask, .mask-overlay').removeClass('active');
            });
        });
    </script>
</html>  